$light-color: #fff;
$primary-color: #7eb126;

@function set-text-color($color) {
  @if (lightness($color) > 90) {
    @return #000;
  } @else {
    @return #fff;
  }
}

@mixin set-why($number) {
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  position: relative;
  &::before {
    content: $number;
    opacity: 0.1;
    color: #000000;
    font-size: 200px;
    line-height: 200px;
    z-index: 9;
    position: absolute;
    top: -70px;
  }
}

@mixin set-service($image) {
  background-image: url($image);
  background-position: center;
  background-size: contain;
  opacity: 0.4;
  color: #fff;
  font-size: 18px;
  &:hover {
    opacity: 1;
  }
}

@mixin set-working($image) {
  background: url($image);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}
