.animLeft {
  animation-duration: 4s;
  animation-name: bounceInLeft;
}
.animRight {
  animation-duration: 4s;
  animation-name: bounceInRight;
}

.articles {
  .why__back {
    @include before("WHY");
    height: 16vh;
    width: 40vw;
    background-position: center;
    background-size: cover;
    h1 {
      @extend %heading;
    }
  }
  .why__text {
    padding-left: 15vw;
    height: 110vh;

    .text {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15vh;
      p {
        font-size: 16px;
        line-height: 24px;
        min-height: 250px;
      }
      .why__text1 {
        @include set-why("01");
      }
      .why__text2 {
        @include set-why("02");
      }
      .why__text3 {
        @include set-why("03");
      }
      .why__text4 {
        @include set-why("04");
      }
      .why__text5 {
        @include set-why("05");
      }
      .why__text6 {
        @include set-why("06");
      }
      .why__text7 {
        @include set-why("07");
      }
    }
    #expand {
      display: none;
    }
  }
  .service {
    h1 {
      padding-top: 10vh;
    }
    color: #fff;
    height: 150vh;
    width: 87vw;
    padding-left: 18vw;
    margin-top: 10vh;
    background-color: #000;
    .hex-grid__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      gap: 10px;
      a {
        text-decoration: none;
      }
      .hex-1 {
        @include set-service("https://quantox.com/assets/img/mobile.png");
      }
      .hex-2 {
        @include set-service("https://quantox.com/assets/img/system-admin.png");
      }
      .hex-3 {
        @include set-service("https://quantox.com/assets/img/be.png");
      }
      .hex-4 {
        @include set-service("https://quantox.com/assets/img/consulting1.png");
      }
      .hex-5 {
        margin-left: 10vw;
        @include set-service("https://quantox.com/assets/img/fe.png");
      }
      .hex-6 {
        @include set-service("https://quantox.com/assets/img/design.png");
      }
      .hex-7 {
        @include set-service("https://quantox.com/assets/img/tech-support.png");
      }
      .hex-8 {
        @include set-service(
          "https://quantox.com/assets/img/virtual-assistant1.png"
        );
      }
      .hex-9 {
        @include set-service(
          "https://quantox.com/assets/img/customer-support1.png"
        );
      }
      .hex-10 {
        @include set-service("https://quantox.com/assets/img/copywriting.png");
      }
      .hex-11 {
        @include set-service("https://quantox.com/assets/img/video-edit.png");
      }
      .hex-grid__item {
        display: grid;
        place-content: center;
        width: var(--s);
        height: calc(var(--s) * 1.1547);
        background-color: #394d1c;
        margin-bottom: calc(var(--m) - var(--s) * 0.2885);
        &:hover {
          background-color: rgba(117, 165, 44, 0.4);
        }
        clip-path: polygon(
          0% 25%,
          0% 75%,
          50% 100%,
          100% 75%,
          100% 25%,
          50% 0%
        );
      }
      .hex-grid__item::before {
        content: "";
        width: calc(var(--s) / 4 + var(--m));
        float: left;
        height: 100%;
        shape-outside: repeating-linear-gradient(
          transparent 0 calc(var(--r) - 3px),
          #fff 0 var(--r)
        );
      }
    }
  }
  .working {
    height: 150vh;
    padding-bottom: 10vh;
    h1 {
      @extend %heading;
    }
    .working__back {
      @include before("WORKING");
      height: 15vh;
      width: 80vw;
      background-position: center;
      background-size: cover;
      h1 {
        padding-top: 10vh;
        padding-left: 15vw;
        text-align: left;
      }
    }
    .working__articles {
      padding-top: 5vh;
      padding-left: 15vw;
      display: grid;
      grid-template-columns: repeat(2, 30vw);
      text-align: left;
      gap: 20vh;
      .working__article1 {
        @include set-working("https://quantox.com/assets/img/pic-1.png");
      }
      .working__article2 {
        @include set-working("https://quantox.com/assets/img/pic-2.png");
      }
      .working__article3 {
        @include set-working("https://quantox.com/assets/img/pic-3.png");
      }
      .working__article4 {
        @include set-working("https://quantox.com/assets/img/pic-4.png");
      }
      .working__article5 {
        @include set-working("https://quantox.com/assets/img/pic-5.png");
      }
    }
  }
}
