footer {
  @include before("MAILING");
  width: 100vw;
  .form__container {
    background: #e5e5e5;
    h1 {
      @extend %heading;
      padding-left: 21vw;
      @include media-md {
        padding-left: 6vh;
        font-size: 2em;
      }
      @include media-lg {
        padding-left: 12vw;
        font-size: 2.5em;
      }
    }
    .form {
      text-align: center;
      form {
        padding: 5vh;
        input {
          width: 45vw;
          height: 3vh;
          border: none;
          background: transparent;
          padding-top: 30px;
          font-size: 18px;
          outline: none;
          border-bottom: 1px solid;
        }
        button {
          border: none;
          border-radius: 5em;
          height: 6vh;
          width: 250px;
          font-size: 20px;
          font-weight: bold;
          background: #2e2e2e;
          color: $light-color;
        }
      }
    }
  }
  .links {
    padding: 10vh;
    background: url("https://quantox.com/assets/img/footer-pattern.png");
    background-size: cover;
    height: 100%;
    .links__container {
      text-align: center;
    }
    .nav {
      a {
        text-decoration: none;
        padding: 15px;
        color: $dark-color;
        &:hover {
          color: $primary-color;
        }
      }
    }
  }
  .social__links {
    padding: 15px;
    text-align: center;
    a {
      padding: 10px;
      text-decoration: none;
      color: $dark-color;
    }
    img {
      width: 35px;
      padding: 10px;
    }
  }
  .foot__copy {
    background-color: #fff;
    text-align: center;
    a {
      color: $primary-color;
      text-decoration: none;
    }
  }
}
