footer {
  @include before("MAILING");
  width: 100vw;
  background: #e5e5e5;
  .form__container {
    text-align: center;
  }
  .form {
    padding: 7vh;
    form {
      padding: 20vh;
      input {
        width: 45vw;
        height: 3vh;
        border: none;
        background: transparent;
        outline: none;
        border-bottom: 1px solid;
      }
      button {
        border-radius: 5em;
        height: 6vh;
        width: 250px;
        font-size: 20px;
        background: #2e2e2e;
        color: #fff;
      }
    }
  }
  .links {
    padding: 13vh;
    background-image: linear-gradient(to right, #fff, #dbdbdb);
    .links__container {
      text-align: center;
    }
    .nav {
      a {
        text-decoration: none;
        padding: 20px;
        color: #111111;
        padding: 10px;
      }
    }
  }
  .social__links {
    padding: 20px;
    text-align: center;
    img {
      width: 35px;
      padding: 15px;
    }
  }
  .foot__copy {
    background: #fff;
    text-align: center;
  }
}
