@include media-md {
  header {
    .hero {
      h1 {
        font-size: 1em;
      }
    }
  }
  header {
    .header__right {
      .languages {
        display: none;
      }
      img {
        padding: 0;
      }
    }
  }
  .main__nav {
    display: none;
  }
  .articles {
    width: 100vw;
    .why__text {
      height: auto;
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .expand {
        display: block;
      }

      .less {
        display: none;
      }
      .more {
        display: block;
      }
    }
    .service {
      padding-bottom: 15vh;
      height: auto;
      .hex-grid__list {
        grid-template-columns: repeat(auto-fill, 1fr);
        @for $i from 1 through 11 {
          .hex-grid__item:nth-child(3n) {
            margin-left: 18vw;
            margin-top: -3vw;
          }
        }
        .hex-grid__item {
          width: 35vw;
          height: 35vw;
        }
        .hex-5 {
          margin-left: 0;
        }
      }
    }
    .working {
      height: auto;
      .working__articles {
        grid-template-columns: repeat(1, 1fr);
      }
    }
  }
}

@include media-lg {
  header {
    .hero {
      h1 {
        font-size: 2em;
      }
    }
  }
  .articles {
    height: auto;
    place-content: center;
    .why__text {
      height: auto;
      .text {
        grid-template-columns: repeat(2, 2fr);
      }
    }
    .service {
      height: auto;
      place-content: center;
      padding-bottom: 10vh;
      .hex-grid__list {
        grid-template-columns: repeat(auto-fill, 1fr);
        @for $i from 1 through 11 {
          .hex-grid__item:nth-child(5n -1) {
            margin-left: 13vw;
          }
        }
        .hex-grid__item {
          width: 25vw;
          height: 25vw;
        }
        .hex-5 {
          margin-left: 0;
        }
      }
    }
  }
  .working {
    height: auto;
    margin-bottom: 40vh;
    .working__articles {
      grid-template-columns: repeat(auto-fill, 250px);
    }
  }
}

@include media-xl {
  header {
    .hero {
      h1 {
        font-size: 2.5em;
      }
    }
  }

  .articles {
    height: auto;
    .why__text {
      height: auto;
      .text {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .service {
      height: auto;
      padding-bottom: 15vh;
    }
    .working {
      height: auto;
      .working__articles {
        grid-template-columns: repeat(auto-fill, 300px);
      }
    }
  }
}
