$primary-color: #7eb126;
$light-color: #fff;
$secondary-color: #333;

nav {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  .navigation {
    @include flex();
    padding-bottom: 0;
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    .nav__logo {
      img {
        width: 40px;
      }
    }
    .nav {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      text-align: center;
      a {
        font-size: 1.2em;
        text-decoration: none;
        color: #fff;
        line-height: 2em;
        &:hover {
          color: $primary-color;
        }
      }
    }
    .navi__footer {
      color: #fff;
      a {
        color: #fff;
        font-size: 1.4em;
        text-decoration: none;
        padding: 2px;
      }
      .social__links {
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
      }
    }
  }
  .nav__close {
    cursor: pointer;
    float: right;
    width: 40px;
    margin-top: 30px;
    margin-right: 40px;
    background-color: #fff;
  }
}

.animHero {
  animation-duration: 3s;
  animation-name: slidein;
}
.main__navColor {
  color: #d5d5d5;
}
.main__nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 18vw;
  height: 75vh;
  flex-direction: column;
  justify-content: space-between;
  color: $secondary-color;
  z-index: -1;
  img {
    width: 40px;
    padding: 40px;
  }
  .nav {
    display: flex;
    flex-direction: column;

    padding: 40px;
    a {
      font-size: 1.2em;
      text-decoration: none;
      color: $secondary-color;
      line-height: 2em;
      &:hover {
        color: $primary-color !important;
      }
    }
  }
  .nav__footer {
    color: $secondary-color;
    padding: 20px;
    a {
      color: $secondary-color;
      font-size: 1.2em;
      text-decoration: none;
      padding: 2px;
      &:hover {
        color: $primary-color !important;
      }
    }
    img {
      width: 40px;
      padding: 0;
    }
  }
}
