$dark-color: #000;

@mixin before($text) {
  &::before {
    content: $text;
    text-transform: uppercase;
    opacity: 0.1;
    color: $dark-color;
    font-size: 300px;
    font-weight: bold;
    line-height: 218px;
    margin-left: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
  }
}
%heading {
  padding-top: 15vh;
  padding-left: 20vw;
  font-weight: bolder;
  font-size: 30px;
}

@mixin flex() {
  display: flex;
  justify-content: space-between;
}
