%heading {
  padding-top: 13vh;
  padding-left: 16vw;
  font-weight: bolder;
  font-size: 30px;
  width: 100%;
}
$light-color: #fff;
$primary-color: #7eb126;
$secondary-color: #333;
$dark-color: #000;
$hero-height: 88vh;
