@import "scss/animations";
@import "scss/config";
@import "scss/styles";

html {
  scroll-behavior: smooth;
  box-sizing: border-box;
  overflow-x: hidden;
}

$hero-height: 88vh;

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  --s: 20vw;
  --m: 2px;
  --r: calc(var(--s) * 3 * 1.1547 / 2+ 4 * var(--m));
}

header {
  background: url("https://quantox.com/assets/img/quantox-logo-bkg.png");
  position: relative;
  .header {
    position: sticky;
    z-index: 999;
    width: 100vw;
    color: #fff;
    @include flex();
    .header__right {
      display: flex;
      padding: 20px;
      .languages {
        padding: 15px;
        a {
          text-decoration: none;
          color: #fff;
          line-height: 2em;
        }
      }
      img {
        cursor: pointer;
        background-color: #fff;
        padding: 5px 10px;
        width: 40px;
      }
    }
  }
  .emtpy {
    width: 100vw;
    height: 85vh;
    background-color: #fff;
    .hero {
      position: relative;
      width: 100%;
      height: 102vh;
      color: #fff;
      display: grid;
      background: url("https://quantox.com/assets/img/quantox-logo-bkg.png");
      top: -15vh;
      margin-bottom: 0;
      a {
        place-self: end center;
        padding-bottom: 30px;
        img {
          width: 50px;
        }
      }
      h1 {
        overflow: hidden;
        border-right: 0.15em solid #e5e5e5;
        font-size: 3vw;
        white-space: nowrap;
        letter-spacing: 0.15em;
        place-self: center;
        animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
      }
    }
  }
}
.nav__add {
  display: block;
}
.remove {
  display: none;
}

.nav__remove {
  display: none;
}

.fab {
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

nav {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000;
  .navigation {
    @include flex();
    padding-bottom: 0;
    width: 100vw;
    height: 90vh;
    flex-direction: column;
    align-items: center;
    .nav__logo {
      img {
        width: 40px;
      }
    }
    .nav {
      display: flex;
      flex-direction: column;
      align-content: space-between;
      text-align: center;
      a {
        font-size: 1.2em;
        text-decoration: none;
        color: #fff;
        line-height: 2em;
        &:hover {
          color: #7eb126;
        }
      }
    }
    .navi__footer {
      color: #fff;
      a {
        color: #fff;
        font-size: 1.4em;
        text-decoration: none;
        padding: 2px;
      }
      .social__links {
        display: flex;
        justify-content: space-around;
        margin-bottom: 0;
      }
    }
  }
  .nav__close {
    cursor: pointer;
    float: right;
    width: 40px;
    padding-top: 20px;
    padding-right: 40px;
  }
}

.animHero {
  animation-duration: 3s;
  animation-name: slidein;
}
.main__navColor {
  color: #d5d5d5;
}
.main__nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 14vw;
  height: 75vh;
  flex-direction: column;
  color: set-text-color($light-color);
  z-index: -1;
  img {
    width: 40px;
    padding: 20px;
  }
  .nav {
    display: flex;
    flex-direction: column;
    padding: 20px;
    a {
      font-size: 1.2em;
      text-decoration: none;
      color: set-text-color($light-color);
      line-height: 2em;
      &:hover {
        color: $primary-color;
      }
    }
  }
  .nav__footer {
    color: #000;
    padding: 20px;
    a {
      color: set-text-color($light-color);
      font-size: 1.2em;
      text-decoration: none;
      padding: 2px;
    }
    img {
      width: 40px;
      padding: 0;
    }
  }
}

.addColor {
  z-index: 999;
  color: #fff;
}
.overline {
  border-top: 1px solid $primary-color;
  padding-top: 10px;
}
.animLeft {
  animation-duration: 4s;
  animation-name: slideleft;
}
.animRight {
  animation-duration: 4s;
  animation-name: slideright;
}
.articles {
  .why__back {
    @include before("WHY");
    height: 16vh;
    width: 40vw;
    background-position: center;
    background-size: cover;
    h1 {
      @extend %heading;
    }
  }
  .why__text {
    padding-left: 15vw;
    height: 110vh;
    .text {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 15vh;
      .why__text1 {
        @include set-why("01");
      }
      .why__text2 {
        @include set-why("02");
      }
      .why__text3 {
        @include set-why("03");
      }
      .why__text4 {
        @include set-why("04");
      }
      .why__text5 {
        @include set-why("05");
      }
      .why__text6 {
        @include set-why("06");
      }
      .why__text7 {
        @include set-why("07");
      }
    }
    #expand {
      display: none;
    }
  }
  .service {
    h1 {
      @extend %heading;
    }
    color: #fff;
    height: 150vh;
    padding-left: 15vw;
    padding-bottom: 15vh;
    background-color: #000;
    .hex-grid__list {
      display: flex;
      flex-wrap: wrap;
      margin: 0;
      padding: 0;
      gap: 10px;
      a {
        text-decoration: none;
      }
      .hex-1 {
        @include set-service("https://quantox.com/assets/img/mobile.png");
      }
      .hex-2 {
        @include set-service("https://quantox.com/assets/img/system-admin.png");
      }
      .hex-3 {
        @include set-service("https://quantox.com/assets/img/be.png");
      }
      .hex-4 {
        @include set-service("https://quantox.com/assets/img/consulting1.png");
      }
      .hex-5 {
        margin-left: 10vw;
        @include set-service("https://quantox.com/assets/img/fe.png");
      }
      .hex-6 {
        @include set-service("https://quantox.com/assets/img/design.png");
      }
      .hex-7 {
        @include set-service("https://quantox.com/assets/img/tech-support.png");
      }
      .hex-8 {
        @include set-service(
          "https://quantox.com/assets/img/virtual-assistant1.png"
        );
      }
      .hex-9 {
        @include set-service(
          "https://quantox.com/assets/img/customer-support1.png"
        );
      }
      .hex-10 {
        @include set-service("https://quantox.com/assets/img/copywriting.png");
      }
      .hex-11 {
        @include set-service("https://quantox.com/assets/img/video-edit.png");
      }
      .hex-grid__item {
        display: grid;
        place-content: center;
        width: var(--s);
        height: calc(var(--s) * 1.1547);
        background-color: #394d1c;
        margin-bottom: calc(var(--m) - var(--s) * 0.2885);
        &:hover {
          background-color: rgba(117, 165, 44, 0.4);
        }
        clip-path: polygon(
          0% 25%,
          0% 75%,
          50% 100%,
          100% 75%,
          100% 25%,
          50% 0%
        );
      }
      .hex-grid__item::before {
        content: "";
        width: calc(var(--s) / 4 + var(--m));
        float: left;
        height: 100%;
        shape-outside: repeating-linear-gradient(
          transparent 0 calc(var(--r) - 3px),
          #fff 0 var(--r)
        );
      }
    }
  }
  .working {
    height: 150vh;
    padding-bottom: 10vh;
    h1 {
      @extend %heading;
    }
    .working__back {
      @include before("WORKING");
      height: 15vh;
      width: 80vw;
      background-position: center;
      background-size: cover;
      h1 {
        padding-top: 10vh;
        padding-left: 15vw;
      }
    }
    .working__articles {
      padding-top: 5vh;
      padding-left: 15vw;
      display: grid;
      grid-template-columns: repeat(2, 30vw);
      grid-template-rows: repeat(3, 1fr);
      text-align: left;
      gap: 20vh;
      .working__article1 {
        @include set-working("images/pic-1.png");
      }
      .working__article2 {
        @include set-working("images/pic-2.png");
      }
      .working__article3 {
        @include set-working("images/pic-3.png");
      }
      .working__article4 {
        @include set-working("images/pic-4.png");
      }
      .working__article5 {
        @include set-working("images/pic-5.png");
      }
    }
  }
}

footer {
  @include before("MAILING");
  width: 100vw;
  background: #e5e5e5;
  .form__container {
    text-align: center;
  }
  .form {
    padding: 7vh;
    form {
      padding: 5vh;
      input {
        width: 60vw;
        height: 3vh;
        border: none;
        background: transparent;
        outline: none;
        border-bottom: 1px solid;
      }
      button {
        border-radius: 5em;
        height: 4vh;
        width: 10vw;
        background: #2e2e2e;
        color: #fff;
      }
    }
  }
  .links {
    background-image: linear-gradient(to right, #fff, #dbdbdb);
    .links__container {
      text-align: center;
    }
    .nav {
      a {
        text-decoration: none;
        color: #111111;
        padding: 10px;
      }
    }
  }
  .social__links {
    text-align: center;
    img {
      width: 35px;
      padding: 5px;
    }
  }
  .foot__copy {
    background: #fff;
    text-align: center;
  }
}

@media (max-width: 768px) {
  header {
    .hero {
      h1 {
        font-size: 1em;
      }
    }
  }
  header {
    .header__right {
      .languages {
        display: none;
      }
      img {
        padding: 0;
      }
    }
  }
  .articles {
    width: 100vw;
    .why__text {
      height: auto;
      .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
      .expand {
        display: block;
      }

      .less {
        display: none;
      }
      .more {
        display: block;
      }
    }
    .service {
      .hex-grid__list {
        grid-template-columns: repeat(auto-fill, 1fr);
        @for $i from 1 through 11 {
          .hex-grid__item:nth-child(3n -1) {
            margin-left: 20vw;
          }

          .hex-grid__item {
            width: 40vw;
            height: 40vw;
          }
        }
      }
      .working {
        height: auto;
        .working__articles {
          grid-template-columns: repeat(1, 1fr);
        }
      }
    }
  }

  @media only screen and (max-width: 990px) {
    header {
      .hero {
        h1 {
          font-size: 2em;
        }
      }
    }
    .main__nav {
      display: none;
    }
    .articles {
      height: auto;
      place-content: center;
      .why__text {
        height: auto;
        .text {
          grid-template-columns: repeat(2, 2fr);
        }
      }
      .service {
        height: auto;
        place-content: center;
        .hex-grid__list {
          grid-template-columns: repeat(auto-fill, 1fr);
          @for $i from 1 through 11 {
            .hex-grid__item:nth-child(5n -1) {
              margin-left: 40vw;
            }
          }
        }
        .hex-grid__item {
          width: 30vw;
          height: 30vw;
        }
      }
    }
    .working {
      height: auto;
      .working__articles {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
    }
  }
}

@media only screen and (max-width: 1300px) {
  header {
    .hero {
      h1 {
        font-size: 2.5em;
      }
    }
  }
  .articles {
    height: auto;
    .why__text {
      height: auto;
      .text {
        grid-template-columns: repeat(2, 1fr);
      }
    }
    .service {
      height: auto;
    }
    .working {
      height: auto;
      .working__articles {
        grid-template-columns: repeat(auto-fill, 350px);
      }
    }
  }
}
