@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
@import "scss/animations";
@import "scss/config";
@import "scss/styles";
@import "scss/header";
@import "scss/nav";
@import "scss/articles";
@import "scss/media";
@import "scss/footer";

$light-color: #fff;
$primary-color: #7eb126;
$secondary-color: #333;
$dark-color: #000;
html {
  scroll-behavior: smooth;
}

:export {
  primaryColor: $primary-color;
  secondaryColor: $secondary-color;
  lightColor: $light-color;
  darkColor: $dark-color;
}
$hero-height: 88vh;

body {
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: Montserrat, sans-serif;
  margin: 0;
  --s: 19vw;
  --m: 2px;
  --r: calc(var(--s) * 3 * 1.1547 / 2+ 4 * var(--m));
}

.nav__add {
  display: block;
}
.remove {
  display: none;
}
.addLinks {
  color: #fff !important;
}
.removeLinks {
  visibility: hidden;
}

.nav__remove {
  display: none;
}

.fab {
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.addColor {
  z-index: 999;
  color: #fff;
}
.overline {
  border-top: 1px solid $primary-color;
  padding-top: 10px;
}
