.animLeft {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: slideleft;
          animation-name: slideleft;
}

.animRight {
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-name: slideright;
          animation-name: slideright;
}

@-webkit-keyframes slidein {
  from {
    top: 0;
    height: 0;
  }
  to {
    height: 105vh;
  }
}

@keyframes slidein {
  from {
    top: 0;
    height: 0;
  }
  to {
    height: 105vh;
  }
}

@-webkit-keyframes slideleft {
  from {
    left: -30vw;
  }
  to {
    left: 0vw;
  }
}

@keyframes slideleft {
  from {
    left: -30vw;
  }
  to {
    left: 0vw;
  }
}

@-webkit-keyframes slideright {
  from {
    right: -30vw;
  }
  to {
    right: 0vw;
  }
}

@keyframes slideright {
  from {
    right: -30vw;
  }
  to {
    right: 0vw;
  }
}

@-webkit-keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 60%;
  }
}

@-webkit-keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #e5e5e5;
  }
}

@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: #e5e5e5;
  }
}

.articles .why__back h1, .articles .service h1, .articles .working h1 {
  padding-top: 5vh;
  padding-left: 10vw;
}

header {
  background: url("https://quantox.com/assets/img/quantox-logo-bkg.png");
  position: relative;
}

header .header {
  position: -webkit-sticky;
  position: sticky;
  z-index: 999;
  width: 100vw;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .header .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 20px;
}

header .header .header__right .languages {
  padding: 15px;
}

header .header .header__right .languages a {
  text-decoration: none;
  color: #fff;
  line-height: 2em;
}

header .header .header__right img {
  cursor: pointer;
  background-color: #fff;
  padding: 5px 10px;
  width: 40px;
}

header .emtpy {
  width: 100vw;
  height: 88vh;
  background-color: #fff;
}

header .emtpy .hero {
  position: relative;
  width: 100%;
  height: 105vh;
  color: #fff;
  display: -ms-grid;
  display: grid;
  background: url("https://quantox.com/assets/img/quantox-logo-bkg.png");
  top: -15vh;
  margin-bottom: 0;
}

header .emtpy .hero a {
  place-self: end center;
  padding-bottom: 30px;
}

header .emtpy .hero a img {
  width: 50px;
}

header .emtpy .hero h1 {
  overflow: hidden;
  border-right: 0.15em solid #e5e5e5;
  font-size: 3vw;
  white-space: nowrap;
  letter-spacing: 0.15em;
  place-self: center;
  -webkit-animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
          animation: typing 3s steps(40, end), blink-caret 0.75s step-end infinite;
}

nav {
  display: none;
  width: 100vw;
  height: 100vh;
  background-color: #000;
}

nav .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-bottom: 0;
  width: 100vw;
  height: 90vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .navigation .nav__logo img {
  width: 40px;
}

nav .navigation .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-line-pack: justify;
      align-content: space-between;
  text-align: center;
}

nav .navigation .nav a {
  font-size: 1.2em;
  text-decoration: none;
  color: #fff;
  line-height: 2em;
}

nav .navigation .nav a:hover {
  color: #7eb126;
}

nav .navigation .navi__footer {
  color: #fff;
}

nav .navigation .navi__footer a {
  color: #fff;
  font-size: 1.4em;
  text-decoration: none;
  padding: 2px;
}

nav .navigation .navi__footer .social__links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin-bottom: 0;
}

nav .nav__close {
  cursor: pointer;
  float: right;
  width: 40px;
  margin-top: 30px;
  margin-right: 40px;
  background-color: #fff;
}

.animHero {
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
}

.main__navColor {
  color: #d5d5d5;
}

.main__nav {
  position: fixed;
  left: 0;
  top: 0;
  width: 14vw;
  height: 75vh;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #000;
  z-index: -1;
}

.main__nav img {
  width: 40px;
  padding: 20px;
}

.main__nav .nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 20px;
}

.main__nav .nav a {
  font-size: 1.2em;
  text-decoration: none;
  color: #000;
  line-height: 2em;
}

.main__nav .nav a:hover {
  color: #7eb126 !important;
}

.main__nav .nav__footer {
  color: #000;
  padding: 20px;
}

.main__nav .nav__footer a {
  color: #000;
  font-size: 1.2em;
  text-decoration: none;
  padding: 2px;
}

.main__nav .nav__footer a:hover {
  color: #7eb126 !important;
}

.main__nav .nav__footer img {
  width: 40px;
  padding: 0;
}

.articles .why__back {
  height: 16vh;
  width: 40vw;
  background-position: center;
  background-size: cover;
}

.articles .why__back::before {
  content: "WHY";
  text-transform: uppercase;
  opacity: 0.1;
  color: #000000;
  font-size: 300px;
  font-weight: bold;
  line-height: 218px;
  margin-left: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.articles .why__text {
  padding-left: 15vw;
  height: 110vh;
}

.articles .why__text .text {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 15vh;
}

.articles .why__text .text .why__text1 {
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  position: relative;
}

.articles .why__text .text .why__text1::before {
  content: "01";
  opacity: 0.1;
  color: #000000;
  font-size: 200px;
  line-height: 200px;
  z-index: 9;
  position: absolute;
  top: -70px;
}

.articles .why__text .text .why__text2 {
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  position: relative;
}

.articles .why__text .text .why__text2::before {
  content: "02";
  opacity: 0.1;
  color: #000000;
  font-size: 200px;
  line-height: 200px;
  z-index: 9;
  position: absolute;
  top: -70px;
}

.articles .why__text .text .why__text3 {
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  position: relative;
}

.articles .why__text .text .why__text3::before {
  content: "03";
  opacity: 0.1;
  color: #000000;
  font-size: 200px;
  line-height: 200px;
  z-index: 9;
  position: absolute;
  top: -70px;
}

.articles .why__text .text .why__text4 {
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  position: relative;
}

.articles .why__text .text .why__text4::before {
  content: "04";
  opacity: 0.1;
  color: #000000;
  font-size: 200px;
  line-height: 200px;
  z-index: 9;
  position: absolute;
  top: -70px;
}

.articles .why__text .text .why__text5 {
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  position: relative;
}

.articles .why__text .text .why__text5::before {
  content: "05";
  opacity: 0.1;
  color: #000000;
  font-size: 200px;
  line-height: 200px;
  z-index: 9;
  position: absolute;
  top: -70px;
}

.articles .why__text .text .why__text6 {
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  position: relative;
}

.articles .why__text .text .why__text6::before {
  content: "06";
  opacity: 0.1;
  color: #000000;
  font-size: 200px;
  line-height: 200px;
  z-index: 9;
  position: absolute;
  top: -70px;
}

.articles .why__text .text .why__text7 {
  list-style-type: none;
  font-size: 16px;
  line-height: 20px;
  margin-top: 8px;
  position: relative;
}

.articles .why__text .text .why__text7::before {
  content: "07";
  opacity: 0.1;
  color: #000000;
  font-size: 200px;
  line-height: 200px;
  z-index: 9;
  position: absolute;
  top: -70px;
}

.articles .why__text #expand {
  display: none;
}

.articles .service {
  color: #fff;
  height: 150vh;
  width: 100vw;
  padding-left: 15vw;
  padding-bottom: 15vh;
  background-color: #000;
}

.articles .service .hex-grid__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 0;
  padding: 0;
  gap: 10px;
}

.articles .service .hex-grid__list a {
  text-decoration: none;
}

.articles .service .hex-grid__list .hex-1 {
  background-image: url("https://quantox.com/assets/img/mobile.png");
  background-position: center;
  background-size: contain;
  opacity: 0.4;
  color: #fff;
  font-size: 18px;
}

.articles .service .hex-grid__list .hex-1:hover {
  opacity: 1;
}

.articles .service .hex-grid__list .hex-2 {
  background-image: url("https://quantox.com/assets/img/system-admin.png");
  background-position: center;
  background-size: contain;
  opacity: 0.4;
  color: #fff;
  font-size: 18px;
}

.articles .service .hex-grid__list .hex-2:hover {
  opacity: 1;
}

.articles .service .hex-grid__list .hex-3 {
  background-image: url("https://quantox.com/assets/img/be.png");
  background-position: center;
  background-size: contain;
  opacity: 0.4;
  color: #fff;
  font-size: 18px;
}

.articles .service .hex-grid__list .hex-3:hover {
  opacity: 1;
}

.articles .service .hex-grid__list .hex-4 {
  background-image: url("https://quantox.com/assets/img/consulting1.png");
  background-position: center;
  background-size: contain;
  opacity: 0.4;
  color: #fff;
  font-size: 18px;
}

.articles .service .hex-grid__list .hex-4:hover {
  opacity: 1;
}

.articles .service .hex-grid__list .hex-5 {
  margin-left: 9vw;
  background-image: url("https://quantox.com/assets/img/fe.png");
  background-position: center;
  background-size: contain;
  opacity: 0.4;
  color: #fff;
  font-size: 18px;
}

.articles .service .hex-grid__list .hex-5:hover {
  opacity: 1;
}

.articles .service .hex-grid__list .hex-6 {
  background-image: url("https://quantox.com/assets/img/design.png");
  background-position: center;
  background-size: contain;
  opacity: 0.4;
  color: #fff;
  font-size: 18px;
}

.articles .service .hex-grid__list .hex-6:hover {
  opacity: 1;
}

.articles .service .hex-grid__list .hex-7 {
  background-image: url("https://quantox.com/assets/img/tech-support.png");
  background-position: center;
  background-size: contain;
  opacity: 0.4;
  color: #fff;
  font-size: 18px;
}

.articles .service .hex-grid__list .hex-7:hover {
  opacity: 1;
}

.articles .service .hex-grid__list .hex-8 {
  background-image: url("https://quantox.com/assets/img/virtual-assistant1.png");
  background-position: center;
  background-size: contain;
  opacity: 0.4;
  color: #fff;
  font-size: 18px;
}

.articles .service .hex-grid__list .hex-8:hover {
  opacity: 1;
}

.articles .service .hex-grid__list .hex-9 {
  background-image: url("https://quantox.com/assets/img/customer-support1.png");
  background-position: center;
  background-size: contain;
  opacity: 0.4;
  color: #fff;
  font-size: 18px;
}

.articles .service .hex-grid__list .hex-9:hover {
  opacity: 1;
}

.articles .service .hex-grid__list .hex-10 {
  background-image: url("https://quantox.com/assets/img/copywriting.png");
  background-position: center;
  background-size: contain;
  opacity: 0.4;
  color: #fff;
  font-size: 18px;
}

.articles .service .hex-grid__list .hex-10:hover {
  opacity: 1;
}

.articles .service .hex-grid__list .hex-11 {
  background-image: url("https://quantox.com/assets/img/video-edit.png");
  background-position: center;
  background-size: contain;
  opacity: 0.4;
  color: #fff;
  font-size: 18px;
}

.articles .service .hex-grid__list .hex-11:hover {
  opacity: 1;
}

.articles .service .hex-grid__list .hex-grid__item {
  display: -ms-grid;
  display: grid;
  place-content: center;
  width: var(--s);
  height: calc(var(--s) * 1.1547);
  background-color: #394d1c;
  margin-bottom: calc(var(--m) - var(--s) * 0.2885);
  -webkit-clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
          clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
}

.articles .service .hex-grid__list .hex-grid__item:hover {
  background-color: rgba(117, 165, 44, 0.4);
}

.articles .service .hex-grid__list .hex-grid__item::before {
  content: "";
  width: calc(var(--s) / 4 + var(--m));
  float: left;
  height: 100%;
  shape-outside: repeating-linear-gradient(transparent 0 calc(var(--r) - 3px), #fff 0 var(--r));
}

.articles .working {
  height: 150vh;
  padding-bottom: 10vh;
}

.articles .working .working__back {
  height: 15vh;
  width: 80vw;
  background-position: center;
  background-size: cover;
}

.articles .working .working__back::before {
  content: "WORKING";
  text-transform: uppercase;
  opacity: 0.1;
  color: #000000;
  font-size: 300px;
  font-weight: bold;
  line-height: 218px;
  margin-left: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

.articles .working .working__back h1 {
  padding-top: 10vh;
  padding-left: 15vw;
}

.articles .working .working__articles {
  padding-top: 5vh;
  padding-left: 15vw;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (30vw)[2];
      grid-template-columns: repeat(2, 30vw);
  -ms-grid-rows: (1fr)[3];
      grid-template-rows: repeat(3, 1fr);
  text-align: left;
  gap: 20vh;
}

.articles .working .working__articles .working__article1 {
  background: url("images/pic-1.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.articles .working .working__articles .working__article2 {
  background: url("images/pic-2.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.articles .working .working__articles .working__article3 {
  background: url("images/pic-3.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.articles .working .working__articles .working__article4 {
  background: url("images/pic-4.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.articles .working .working__articles .working__article5 {
  background: url("images/pic-5.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

@media screen and (max-width: 768px) {
  header .hero h1 {
    font-size: 1em;
  }
  header .header__right .languages {
    display: none;
  }
  header .header__right img {
    padding: 0;
  }
  .articles {
    width: 100vw;
  }
  .articles .why__text {
    height: auto;
  }
  .articles .why__text .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .articles .why__text .expand {
    display: block;
  }
  .articles .why__text .less {
    display: none;
  }
  .articles .why__text .more {
    display: block;
  }
  .articles .service .hex-grid__list {
    -ms-grid-columns: (1fr)[auto-fill];
        grid-template-columns: repeat(auto-fill, 1fr);
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(3n -1) {
    margin-left: 20vw;
  }
  .articles .service .hex-grid__list .hex-grid__item {
    width: 40vw;
    height: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(3n -1) {
    margin-left: 20vw;
  }
  .articles .service .hex-grid__list .hex-grid__item {
    width: 40vw;
    height: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(3n -1) {
    margin-left: 20vw;
  }
  .articles .service .hex-grid__list .hex-grid__item {
    width: 40vw;
    height: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(3n -1) {
    margin-left: 20vw;
  }
  .articles .service .hex-grid__list .hex-grid__item {
    width: 40vw;
    height: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(3n -1) {
    margin-left: 20vw;
  }
  .articles .service .hex-grid__list .hex-grid__item {
    width: 40vw;
    height: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(3n -1) {
    margin-left: 20vw;
  }
  .articles .service .hex-grid__list .hex-grid__item {
    width: 40vw;
    height: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(3n -1) {
    margin-left: 20vw;
  }
  .articles .service .hex-grid__list .hex-grid__item {
    width: 40vw;
    height: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(3n -1) {
    margin-left: 20vw;
  }
  .articles .service .hex-grid__list .hex-grid__item {
    width: 40vw;
    height: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(3n -1) {
    margin-left: 20vw;
  }
  .articles .service .hex-grid__list .hex-grid__item {
    width: 40vw;
    height: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(3n -1) {
    margin-left: 20vw;
  }
  .articles .service .hex-grid__list .hex-grid__item {
    width: 40vw;
    height: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(3n -1) {
    margin-left: 20vw;
  }
  .articles .service .hex-grid__list .hex-grid__item {
    width: 40vw;
    height: 40vw;
  }
  .articles .service .working {
    height: auto;
  }
  .articles .service .working .working__articles {
    -ms-grid-columns: (1fr)[1];
        grid-template-columns: repeat(1, 1fr);
  }
}

@media screen and (max-width: 768px) and (max-width: 990px) {
  header .hero h1 {
    font-size: 2em;
  }
  .main__nav {
    display: none;
  }
  .articles {
    height: auto;
    place-content: center;
  }
  .articles .why__text {
    height: auto;
  }
  .articles .why__text .text {
    -ms-grid-columns: (2fr)[2];
        grid-template-columns: repeat(2, 2fr);
  }
  .articles .service {
    height: auto;
    place-content: center;
  }
  .articles .service .hex-grid__list {
    -ms-grid-columns: (1fr)[auto-fill];
        grid-template-columns: repeat(auto-fill, 1fr);
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(5n -1) {
    margin-left: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(5n -1) {
    margin-left: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(5n -1) {
    margin-left: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(5n -1) {
    margin-left: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(5n -1) {
    margin-left: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(5n -1) {
    margin-left: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(5n -1) {
    margin-left: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(5n -1) {
    margin-left: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(5n -1) {
    margin-left: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(5n -1) {
    margin-left: 40vw;
  }
  .articles .service .hex-grid__list .hex-grid__item:nth-child(5n -1) {
    margin-left: 40vw;
  }
  .articles .service .hex-grid__item {
    width: 30vw;
    height: 30vw;
  }
  .working {
    height: auto;
  }
  .working .working__articles {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media screen and (max-width: 1300px) {
  header .hero h1 {
    font-size: 2.5em;
  }
  .articles {
    height: auto;
  }
  .articles .why__text {
    height: auto;
  }
  .articles .why__text .text {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  .articles .service {
    height: auto;
  }
  .articles .working {
    height: auto;
  }
  .articles .working .working__articles {
    -ms-grid-columns: (350px)[auto-fill];
        grid-template-columns: repeat(auto-fill, 350px);
  }
}

footer {
  width: 100vw;
  background: #e5e5e5;
}

footer::before {
  content: "MAILING";
  text-transform: uppercase;
  opacity: 0.1;
  color: #000000;
  font-size: 300px;
  font-weight: bold;
  line-height: 218px;
  margin-left: 0;
  position: absolute;
  width: 100%;
  overflow: hidden;
}

footer .form__container {
  text-align: center;
}

footer .form {
  padding: 7vh;
}

footer .form form {
  padding: 5vh;
}

footer .form form input {
  width: 60vw;
  height: 3vh;
  border: none;
  background: transparent;
  outline: none;
  border-bottom: 1px solid;
}

footer .form form button {
  border-radius: 5em;
  height: 4vh;
  width: 100px;
  background: #2e2e2e;
  color: #fff;
}

footer .links {
  background-image: -webkit-gradient(linear, left top, right top, from(#fff), to(#dbdbdb));
  background-image: linear-gradient(to right, #fff, #dbdbdb);
}

footer .links .links__container {
  text-align: center;
}

footer .links .nav a {
  text-decoration: none;
  color: #111111;
  padding: 10px;
}

footer .social__links {
  text-align: center;
}

footer .social__links img {
  width: 35px;
  padding: 5px;
}

footer .foot__copy {
  background: #fff;
  text-align: center;
}

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  font-family: Montserrat, sans-serif;
  margin: 0;
  --s: 18vw;
  --m: 2px;
  --r: calc(var(--s) * 3 * 1.1547 / 2+ 4 * var(--m));
}

.nav__add {
  display: block;
}

.remove {
  display: none;
}

.nav__remove {
  display: none;
}

.fab {
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.addColor {
  z-index: 999;
  color: #fff;
}

.overline {
  border-top: 1px solid #7eb126;
  padding-top: 10px;
}
/*# sourceMappingURL=style.css.map */