@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;400&display=swap");
@import "scss/animations";
@import "scss/variables";
@import "scss/mixins";
@import "scss/articles";
@import "scss/config";
@import "scss/header";
@import "scss/nav";
@import "scss/footer";
html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  &::-webkit-scrollbar {
    display: none;
  }
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: Montserrat, sans-serif;
  margin: 0;
  --s: 20vw;
  --m: 2px;
  --r: calc(var(--s) * 3 * 1.1547 / 2+ 4 * var(--m));
}

.nav__add {
  display: block;
}
.remove {
  display: none;
}
.addLinks {
  color: #fff !important;
}
.removeLinks {
  visibility: hidden;
}

.nav__remove {
  display: none;
}
.expand {
  display: block;
}

.more {
  display: block;
}

.fab {
  font-size: 34px;
  font-style: normal;
  font-weight: 400;
  line-height: 1;
}

.addColor {
  z-index: 999;
  color: #fff;
}
